.navigation {
  background-color: rgba(0, 0, 0, 0.3);
}

.navigation__logo {
  position: relative;
  z-index: 2;
}

.navigation__wrapper {
  display: flex;
  min-height: 66px;

  align-items: center;

  @media (min-width: @tablet-width) {
    min-height: 110px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.navigation__menu {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  @media (min-width: @desktop-width) {
    position: static;
    width: 650px;
  }
}

