.page-header {
  background-color: #1d2631;
  background-image: url("../../img/background-header-mobile.jpg");
  background-repeat: no-repeat;
    &--index {
      background-image: url("../../img/background-header-mobile2.jpg");
  }
}
